/* ================== */


/*    Global Style    */


/* ================== */

:root {
    --warna-pemasukan: #1dcc70;
    --warna-pengeluaran: #ff396f;
}

::-webkit-scrollbar-thumb {
    background: #402abeb8;
    border-radius: 10px;
}
::-webkit-scrollbar{
    width: 2px;
    background-color: #402abe29;
}


/* Agar container tidak terlalu lebar */

@media (min-width: 1200px) {
    .container {
        max-width: 1140px !important;
    }
}

body {
    height: 100vh;
    background-color: whitesmoke;
}


/* ================== */


/*       Header       */


/* ================== */

#header {
    background-color: #412abe;
    background: linear-gradient(180deg, rgba(65, 42, 190, 1) 0%, rgba(94, 67, 244, 1) 100%);
    clip-path: ellipse(87% 100% at 31.5% 0%);
    color: white;
    height: 200px;
    z-index: 1;
}


/* ================== */


/*        Saldo Box        */


/* ================== */

.card{
    width: 30%;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.border-left{
    border-bottom-left-radius: 6px;
}

.border-right{
    border-bottom-right-radius: 6px;
}


/* ================== */


/*        List Transaction        */


/* ================== */

section#list-transaction{
    margin-top: -50px;
}

/* ================== */


/*        Form        */


/* ================== */

.btn-primary {
    background-color: #4b32d0;
    border-color: #221088;
}

.btn-primary:hover {
    background-color: #3924a7;
    border-color: #261773;
}

.btn-primary:focus {
    background-color: #4b32d0;
    border-color: #221088;
    box-shadow: 0 0 0 0.25rem rgb(200 191 255);
}

.error-box {
    color: red;
}

.error-box ul {
    border: 1px solid var(--warna-pengeluaran);
}

.error-box p {
    margin: 0;
}


/* ================== */


/*        Footer        */


/* ================== */

#footer {
    background-color: #412abe;
    clip-path: ellipse(189% 100% at 143.13% 100%);
}

/* ================== */


/*        Media Mobile        */


/* ================== */

@media screen and (max-width: 400px) {
    .card {
        width: 70%;
    }
}